/*menu{
  
    background: yellowgreen;
}

.dynamicContent{

    background: red;
}

.leftSide{
    background: blue;
    
}
.rightSide{

   background: yellow;
   
}
menu div{
  
    background: #D7FFF2; 
}*/